In [7]:
import pandas

from trace_generator import *

import random
import numpy

In [8]:
tree_name = 'large_combinatory'
num_cases = 5000

In [9]:
tree = construct_random_tree(1961566938, 1753279626, tree_parameters={'min': 8, 'max': 16, 'mode': 12, 'silent': 0.})

In [10]:
tt = 1383974871
tt2 = 1316528754

numpy.random.seed(tt)
random.seed(tt2)

tree_with_sim_properties = convert_pt_to_list_and_attach_properties(tree)

numpy.random.seed(tt)
random.seed(tt2)

modelled_activities_list = generate_activity_simulation_values(
    get_element_from_pt(tree_with_sim_properties, prefix='a_'),
    time_modifier_function=[lambda x: (0.5 / x) - 0.5, lambda x: numpy.power(x, 0.25) - 1],
    time_modifier_function_probability_distribution=[2/3, 1/3],
    # time_modifier_function_probability_distribution=None,
    cost_modifier_function=[lambda x: -0.05 * numpy.power(x, 1.25), lambda x: -0.15 * numpy.power(x, 1.5)],
    # cost_modifier_function=None,
    cost_modifier_function_probability_distribution=[4/5, 1/5]
)

In [11]:
pandas.DataFrame(data=[{'act':act_setup[1], 'b_time':act_setup[2], 'b_cost':act_setup[4]} for act_setup in modelled_activities_list])

   act      b_time      b_cost
0  a_a  291.294408  364.146898
1  a_b  627.177789  286.452209
2  a_c  347.188747  518.012994
3  a_d   54.081412  803.980063
4  a_e  438.083778  881.698995
5  a_f  437.616709  808.366079
6  a_g  463.311297  116.840239
7  a_h  922.852419  331.143540
8  a_i  424.435320  262.925505
9  a_j  827.305083   14.529915